@{
    ViewBag.Title = "Home Page";
}
<script>
    $().ready(function () {
        $('.zoom').magnify({
        });
    });
    </script>
<div class="container-fluid">
    <div class="card"> <img class="card-img-top zoom" src="~/assets/img/MG_4793.jpg" alt="Card image cap" data-magnify-src="./assets/img/MG_4793.jpg"></div>
</div>
