@{
    ViewBag.Title = "Трансляції";
}
<div class="container-fluid ot">
    <div class="container">
        <h3>Онлайн трансляція:</h3>
        <br />
        <h5>Трансляції проходять:</h5>
        <strong>Неділя</strong> o <strong>10.00 </strong>та o <strong>17.00</strong><br />
        <strong>Вівторок</strong> о <strong>19.00 (нерегулярно).</strong><br />
        <p>
            Ми використовуємо
            <strong>безкоштовний відеохостинг</strong>, тому на деяких відео
            <strong>можлива реклама</strong>!
            <strong>Ми не несемо відповідальність</strong>
            за вміст рекламних оголошень.
            <br />
            Пряма трансляція богослужінь створена для тих, хто через
            об'єктивні причини не може відвідувати наші служіння:
            за станом здоров'я, за сімейними чи іншими обставинами.
        </p>
        <button type="button" class="btn btn-info" onclick="onlineBtn()">Перегляд</button>
        <button type="button" class="btn btn-info" onclick="arhiveBtn()">Архів</button>
        <ul>
            <li>
                <p>
                    Для глядачів з інших країн відео трансляція іноді може перериватись повідомленням про авторське право
                    (зазвичай це буває під час виконання творів під фонограму). В цьому випадку перезавантажте сторінку через 5-10 хвилин.
                </p>
            </li>
            <li>
                <p>
                    Зауваження та пропозиції щодо трансляції надсилайте на е-мейл:
                    <a href="mailto:dvorecka41@gmail.com">dvorecka41@gmail.com </a>.
                </p>
            </li>
        </ul>
    </div>
</div>



